In [1]:
import folium
import pandas as pd

# set iran as map starting point
m = folium.Map(location=[32.427910, 53.688046], zoom_start=5)

In [2]:
# mark an example location
loc = [35.703136, 51.409126]
folium.Marker(location=loc).add_to(m)

In [3]:
import pandas as pd
pd.read_csv("covid.csv")

       39.37962  44.39011
0      39.33063  44.14934
1      39.20938  44.76798
2      39.27789  44.54155
3      39.29137  44.46958
4      39.28080  44.46657
...         ...       ...
18187  33.70264  59.26388
18188  32.59978  59.40304
18189  33.54605  56.94985
18190  34.18181  58.02116
18191  25.55712  57.12496

[18192 rows x 2 columns]